<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">
    <display-name>
        La mia Servlet
    </display-name>
    <description>
        Richiama la servlet
    </description>
    <servlet>
        <servlet-name>TPGYM</servlet-name>
        <servlet-classes>Codebmi</servlet-classes>
    </servlet>
    <servlet-mapping>
        <servlet-name>Codebmi</servlet-name>
        <url-pattern>classes/Codebmi</url-pattern>
    </servlet-mapping>
</web-app>